<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/404.css">
    <title>404 - Not found</title>
</head>
<body>

    <img src="/Dragon-Ball-Z-Logo-PNG-File.png" class="logo" alt="logo-dbz">

    <div class="nav-container">
        <h1 class="error-text">404</h1>
        <h1 class="white-text"><%= message %>!</h1>
        <p class="white-text">The Ki signature you are looking for has vanished.</p>
        <br>
        <a href="/" class="home-page">Home Page</a>
    </div>


    
    <button id="mute-btn" class="mute-button">
        <span id="mute-icon">🔊</span>
    </button>

    <script src="/audio-handler.js"></script>
    
    
</body>
</html>