<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" type="image/x-icon" href="/hd-dragon-ball-z-dbz-seven-crystal-balls-png-701751694862297tx7tltnwqa.png">
    <title>404 - Not Found</title>
</head>

<body class="error-page">
    <img src="/styles/Dragon-Ball-Z-Logo-PNG-File.png" class="logo2" alt="DBZ Logo">

    <div class="detail-container" style="text-align: center;">
        <h1 style="font-size: 4rem; color: #ffcc00;">404</h1>
        <h2>
            <%= message %>
        </h2>
        <p>The Ki signature you are looking for has vanished.</p>
        <br>
        <a href="/" class="back-to-homepage">Return to Earth (Home)</a>
    </div>

    <script src="/audio-handler.js"></script>
</body>

</html>