
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/error.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="limit-container">
        <img src="/styles/Dragon-Ball-Z-Logo-PNG-File.png" class="limit-logo">
        <h1>Limit Break!</h1>
        <p>Your Ki is depleted. Please wait 5 minutes to recharge.</p>
        <a href="/" class="btn-recharge">Return to Earth</a>
    </div>
    
</body>
</html>