<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles/main.css">
    <title>DBZ Explorer</title>
</head>

<body>
    
   
    <img src="/styles/Dragon-Ball-Z-Logo-PNG-File.png" class="logo"alt="DBZ Logo">
 
    <div class="nav-container">
        <a href="/characters" class="nav-bar">SHOW CHARACTERS</a>
        <a href="/planets" class="nav-bar">SHOW PLANETS</a>
    </div>

    <script>
       
    </script>
</body>



</html>