<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles/main.css">
    <title>DBZ Explorer</title>
</head>

<body>
    
   
    <img src="/styles/Dragon-Ball-Z-Logo-PNG-File.png" class="logo"
        alt="DBZ Logo">
    <form action="/search-planets" method="GET">
        <input type="text" name="name" placeholder="Search Planet (e.g. Namek)">
        <button type="submit">Search</button>
    </form>
    <div class="nav-container">
        <a href="/characters" class="nav-bar">SHOW ALL CHARACTERS</a>
        <a href="/planets" class="nav-bar">SHOW ALL PLANETS</a>
    </div>
</body>

</html>